{{> ../../shared/head title=project.name description=project.name }}

<body>

    {{> ../../shared/header/header}}

    <section class="projectItem">
        <div class="projectItem__container">
            <h1>{{project.name}}</h1>
            <img src="{{project.poster}}" alt="{{project.name}} poster" class="projectItem__poster" loading="lazy">
            <p>Type: {{project.type}}</p>
            <p>Platforms:
                {{#each project.platforms}}
                <span class="projectItem__platform">{{this}}</span>
                {{/each}}
            </p>
            <p>Links:
                {{#each project.links}}
                <a href="{{this}}" target="_blank" class="projectItem__link">{{@key}}</a>
                {{/each}}
            </p>
        </div>
    </section>

    {{> ../../shared/footer/footer}}

</body>

</html>